---
layout: default
---
<div class="faq">
    <ul>
        <li><p>Q: Is your name actually Guy?</p><p>A: My legal name is actually Guy, although some people like to keep me stored in their contacts as Guy ☀️.</p</li>
        <li><p>Q: Are you German?</p><p>A: No, I'm an American citizen and was born in Templeton, California</p></li>
        <li><p>Q: Can I touch your beard?</p><p>A: Sure, just don't make me feel uncomfortable.</p></li>
        <li><p>Q: Do you fix phones?</p><p>A: Yes, but that's not my job, I'm a software engineer, so I build software.</p></li>
    </ul>
</div>
