---
layout: default
---

<div class="home">

  {{ content }}

    <canvas width="740px" height="600px" id="decision-cube"></canvas>

    <ul class="links">
        <li><a href="/about">About</a><div class="line"></div></li>
        <li><a href="/faq">FAQ</a><div class="line"></div></li>
        <!--<li><a href="/posts">Posts</a><div class="line"></div></li>-->
        <li><a href="/projects">Projects</a><div class="line"></div></li>
        <li><a href="/assets/resume.pdf" target="_">Resume</a><div class="line"></div></li>
    </ul>

</div> 

<script src="/assets/main.js"></script>
<script src="/assets/three.min.js"></script>
<script src="/assets/OrbitControls.js"></script>
